<header class="flex flex-row justify-between p-4 bg-teal-700 text-white">
  <div class="" routerLink="/">{{app_tittle()}}</div>
  <nav class="w-1/6">
    <ul class="flex flex-row justify-between">
      <li class="cursor-pointer">
        <a routerLink="/" routerLinkActive="active-link">Home</a>
      </li>
      <li class="cursor-pointer">
        <a routerLink="/about" routerLinkActive="active-link">About</a>
      </li>
      <li class="cursor-pointer">
        <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
