// styles.scss
@use "tailwindcss";

@theme {
  /* Brand */
  --color-brand-0:    #ffffff;
  --color-brand-50:   #f8fafc;
  --color-brand-100:  #f1f5f9;
  --color-brand-200:  #e2e8f0;
  --color-brand-300:  #cbd5e1;
  --color-brand-400:  #94a3b8;
  --color-brand-500:  #64748b;
  --color-brand-600:  #475569;
  --color-brand-700:  #334155;
  --color-brand-800:  #1e293b;
  --color-brand-900:  #0f172a;
  --color-brand-950:  #020617;
  --color-brand-1000: #010409;

  /* Error - Rojo */
  --color-error:          #ef4444;
  --color-error-light:    #fca5a5;
  --color-error-dark:     #b91c1c;

  /* Info - Amarillo */
  --color-info:           #eab308;
  --color-info-light:     #fde047;
  --color-info-dark:      #a16207;

  /* Success - Verde */
  --color-success:        #22c55e;
  --color-success-light:  #86efac;
  --color-success-dark:   #15803d;
}
